Import all libraries and read in dataset

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from random import randint

df = pd.read_csv(
    "../Dataset/adult.data", 
    names=[
        'age',
        'workclass', 
        'fnlwgt',
        'education',
        'education-num',
        'marital_status',
        'occupation',
        'relationship',
        'race',
        'sex',
        'capital-gain',
        'capital-loss',
        'hours-per-week',
        'native-country',
        'income'],
    index_col=False
    )
df

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,-1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,-1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,-1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,-1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,-1
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,-1
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,-1
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

Data Pre-processing

In [2]:
# Binarise categorical data
df = pd.get_dummies(df)

# Split dataset into a training and validation set
train,validate = train_test_split(df, test_size=0.6)
train,validate

(       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
 28781   24   86745             13             0             0              16
 11166   37  174503             13             0             0              50
 22434   45  168262             14             0             0              40
 5022    42  108506              9             0             0              60
 11789   26   57600             13             0             0              40
 ...    ...     ...            ...           ...           ...             ...
 26253   39  195253             15             0             0              45
 7722    19  374262              8             0             0              20
 22072   36  166606              7             0             0              40
 399     52  132178             13             0             0              50
 7836    26   48718              6          2907             0              40

        income  workclass_ ?  workclass_ Federal-gov  workclass_ Local-gov  \
 28781      -1             0                       0                     0
 11166      -1             0                       0                     0
 22434      -1             0                       0                     0
 5022       -1             0                       0                     0
 11789      -1             0                       0                     0
 ...       ...           ...                     ...                   ...
 26253       1             0                       0                     0
 7722       -1             0                       0                     0
 22072      -1             0                       0                     0
 399         1             0                       0                     0
 7836       -1             0                       0                     0

        ...  native-country_ Portugal  native-country_ Puerto-Rico  \
 28781  ...                         0                            0
 11166  ...                         0                            0
 22434  ...                         0                            0
 5022   ...                         0                            0
 11789  ...                         0                            0
 ...    ...                       ...                          ...
 26253  ...                         0                            0
 7722   ...                         0                            0
 22072  ...                         0                            0
 399    ...                         0                            0
 7836   ...                         0                            0

        native-country_ Scotland  native-country_ South  \
 28781                         0                      0
 11166                         0                      0
 22434                         0                      0
 5022                          0                      0
 11789                         0                      0
 ...                         ...                    ...
 26253                         0                      0
 7722                          0                      0
 22072                         0                      0
 399                           0                      0
 7836                          0                      0

        native-country_ Taiwan  native-country_ Thailand  \
 28781                       0                         0
 11166                       0                         0
 22434                       0                         0
 5022                        0                         0
 11789                       0                         0
 ...                       ...                       ...
 26253                       0                         0
 7722                        0                         0
 22072                       0                         0
 399                         0                         0
 7836                        0                         0

        native-country_ Trinadad&Tobago  native-country_ United-States  \
 28781                                0                              1
 11166                                0                              1
 22434                                0                              1
 5022                                 0                              1
 11789                                0                              1
 ...                                ...                            ...
 26253                                0                              1
 7722                                 0                              1
 22072                                0                              1
 399                                  0                              1
 7836                                 0                              1

        native-country_ Vietnam  native-country_ Yugoslavia
 28781                        0                           0
 11166                        0                           0
 22434                        0                           0
 5022                         0                           0
 11789                        0                           0
 ...                        ...                         ...
 26253                        0                           0
 7722                         0                           0
 22072                        0                           0
 399                          0                           0
 7836                         0                           0

 [13024 rows x 109 columns],
        age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
 719     34  217460             13             0             0              45
 4630    30  142675              8             0             0              50
 23227   47   24723              6             0             0              45
 5639    37  126569             14             0             0              60
 8815    34  106014             10             0             0              40
 ...    ...     ...            ...           ...           ...             ...
 2050    22  188569             10             0             0              20
 20633   25  323229             13             0             0              40
 5653    50   96586             11             0             0              40
 29913   30  164493             10             0             0              10
 4969    19   29250             10             0             0              10

        income  workclass_ ?  workclass_ Federal-gov  workclass_ Local-gov  \
 719         1             0                       0                     0
 4630       -1             0                       0                     0
 23227      -1             0                       0                     0
 5639        1             0                       0                     0
 8815       -1             0                       0                     0
 ...       ...           ...                     ...                   ...
 2050       -1             0                       0                     0
 20633      -1             0                       0                     0
 5653       -1             0                       0                     0
 29913      -1             0                       0                     1
 4969       -1             0                       0                     0

        ...  native-country_ Portugal  native-country_ Puerto-Rico  \
 719    ...                         0                            0
 4630   ...                         0                            0
 23227  ...                         0                            0
 5639   ...                         0                            0
 8815   ...                         0                            0
 ...    ...                       ...                          ...
 2050   ...                         0                            0
 20633  ...                         0                            0
 5653   ...                         0                            0
 29913  ...                         0                            0
 4969   ...                         0                            0

        native-country_ Scotland  native-country_ South  \
 719                           0                      0
 4630                          0                      0
 23227                         0                      0
 5639                          0                      0
 8815                          0                      0
 ...                         ...                    ...
 2050                          0                      0
 20633                         0                      0
 5653                          0                      0
 29913                         0                      0
 4969                          0                      0

        native-country_ Taiwan  native-country_ Thailand  \
 719                         0                         0
 4630                        0                         0
 23227                       0                         0
 5639                        0                         0
 8815                        0                         0
 ...                       ...                       ...
 2050                        0                         0
 20633                       0                         0
 5653                        0                         0
 29913                       0                         0
 4969                        0                         0

        native-country_ Trinadad&Tobago  native-country_ United-States  \
 719                                  0                              1
 4630                                 0                              1
 23227                                0                              1
 5639                                 0                              1
 8815                                 0                              1
 ...                                ...                            ...
 2050                                 0                              1
 20633                                0                              1
 5653                                 0                              1
 29913                                0                              1
 4969                                 0                              1

        native-country_ Vietnam  native-country_ Yugoslavia
 719                          0                           0
 4630                         0                           0
 23227                        0                           0
 5639                         0                           0
 8815                         0                           0
 ...                        ...                         ...
 2050                         0                           0
 20633                        0                           0
 5653                         0                           0
 29913                        0                           0
 4969                         0                           0

 [19537 rows x 109 columns])

In [3]:
# Split the train and test datasets into attribute and tags
train_x,train_y = train.drop(columns='income').to_numpy(), train['income'].to_numpy()
validate_x,validate_y = validate.drop(columns='income').to_numpy(), validate['income'].to_numpy()

Implementing the prediction functions

In [4]:
def predict_(model, data):
    results = 0
    # Iterate through each parameter of the model
    for i in range(len(data)):
        
        results += model[i] * data[i]
    
    return results

# Give the prediction in a binary (+ or -) result rather 
# than the continuous prediction of the predict_ function
def predict(model,data):
    return np.sign(predict_(model,data))

Implementing the scoring and error functions of the model

In [5]:
def score(model,X):
    return X.dot(model)

def error(model, X, y):
    pred = predict(model,X)
    
    if pred == y:
        return 0
    else:
        return np.abs(score(model, X))
    
def total_error(model, X, y):
    total_error=0
    for i in range(len(X)):
        total_error+=error(model, X[i], y[i])
    return total_error

Implementing the training Algorithm

In [12]:
# This is one iteration/epoch of the model

def iterate_model(model, X, y, learing_rate = 0.01):
    pred = predict(model, X)
    for i in range(len(model)):
        model[i] += (y-pred)*X[i]*learing_rate
    return model

def train_model(X,y, learning_rate=0.01, epochs = 200):
    
    model = np.full((len(X[0])),1, dtype=float)
    errors = []

    for i in range(epochs):
        errors.append(total_error(model,X,y))

        try:
            if errors[i] <= errors[i-5]: break
        except:
            pass
        j = randint(0, len(X)-1)
        model = iterate_model(model, X[j], y[j], learing_rate=learning_rate)
    return model, errors

In [13]:
model,errors = train_model(train_x, train_y, epochs=200)
model, errors

(array([ 4.2000e-01, -5.8622e+02,  8.2000e-01,  1.0000e+00,  1.0000e+00,
         2.4000e-01,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         9.8000e-01,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  9.8000e-01,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         9.8000e-01,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  9.8000e-01,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  9.8000e-01,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  9.8000e-01,  9.8000e-01,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,  1.0000e+00,
         9.8000e-01,  1.0000e+00,  1.0000e+00]),
 [1887832843.0, 349167993012.50006, 349167993012.50006, 349167993012.50006])

In [9]:
def validation_error(X,y, model):
    sum_positive = 0
    for i in range(len(y)):
        if predict(model, X[i])==y[i]:
            sum_positive +=1
       
    return sum_positive/len(X)

In [14]:
validation_error(validate_x,validate_y, model)

0.7609151865690741